<div class="sign-in-layout">
  <div class="header-bar">
    <span class="main-title">Le village des brocanteurs</span>
  </div>
  <app-user-menu></app-user-menu>
  <div class="sign-in-content-wrapper">
    <h1 class="connexion-title">Connexion</h1>
    <div class="sign-in-content">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="email" formControlName="email_adress" placeholder="Identifiant" />
        <input type="password" formControlName="password" placeholder="Mot de passe" />
        <div class="form-actions">
          <button type="submit" class="login-btn">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
