<nav>
    <h1>Le village des brocanteurs</h1>
    <hr>
    <ul>
        <li><a routerLink="/dashboard/home" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/dashboard/calendar" routerLinkActive="active">Calendrier</a></li>
        <li><a routerLink="/dashboard/clients" routerLinkActive="active">Clients</a></li>
        <li><a routerLink="/dashboard/invoices" routerLinkActive="active">Factures</a></li>
        <li><a routerLink="/dashboard/estimates" routerLinkActive="active">Devis</a></li>
        <li><a routerLink="/dashboard/product" routerLinkActive="active">Produits</a></li>        
    </ul>
</nav>