<nav>
    <h1>Le village des brocanteurs</h1>
    <hr>
    <ul>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:more-horiz" data-inline="true"></span>
                <a routerLink="/dashboard/home" routerLinkActive="active">Accueil</a>
            </div>
        </li>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:today" data-inline="true"></span>
                <a routerLink="/dashboard/calendar" routerLinkActive="active">Calendrier</a>
            </div>
        </li>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:groups-outline" data-inline="true"></span>
                <a routerLink="/dashboard/customers" routerLinkActive="active">Clients</a>
            </div>
        </li>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:attach-file" data-inline="true"></span>
                <a routerLink="/dashboard/invoices" routerLinkActive="active">Factures</a>
            </div>
        </li>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:bookmark-outline" data-inline="true"></span>
                <a routerLink="/dashboard/estimates" routerLinkActive="active">Devis</a>
            </div>
        </li>
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:category-search-outline-rounded" data-inline="true"></span>
                <a routerLink="/dashboard/categories" routerLinkActive="active">Catégories</a>
            </div>
        </li>        
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:stars-outline" data-inline="true"></span>
                <a routerLink="/dashboard/product" routerLinkActive="active">Produits</a>
            </div>
        </li>   
        <li>
            <div>
                <span class="iconify" data-icon="material-symbols:attach-email-outline" data-inline="true"></span>
                <a routerLink="/dashboard/mail" routerLinkActive="active">Contacts</a>
            </div>
        </li> 
        <li class="admin-link">
            <div>
                <span class="iconify" data-icon="material-symbols:admin-panel-settings-outline" data-inline="true"></span>
                <a routerLink="/dashboard/account" routerLinkActive="active">Admin</a>
            </div>
        </li> 
    </ul>
</nav>