@use '../../../styles/shared' as *;

.calendar-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;

  .calendar-left,
  .calendar-right {
    background-color: $white;
    padding: 35px;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    flex-grow: 1;

    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    mat-calendar {
      width: 100%;
      margin-top: 20px;
      background-color: $light-blue;
      border-radius: 25px;
    }

    form {
      width: 100%;
      max-width: 100%;

      mat-form-field {
        width: 100%;
        margin-bottom: 15px;
      }

      button {
        width: 100%;
      }

      button[type='button'] {
        width: 100%;
      }
    }
  }

  .calendar-left {
    max-width: 600px;
  }

  .calendar-right {
    max-width: 600px;

    .top-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      margin-inline: 1rem;

      button {
        background: $light-blue;
        border: none;
        padding: 14px;
        font-size: 26px;
        border-radius: 100%;
        color: red;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .custom-form {
      mat-form-field.form-field {
        appearance: outline;
        margin-bottom: 15px;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button {
          min-width: 75px;
        }
      }

      textarea {
        resize: none;
      }

      button.mat-icon-button {
        margin-left: 5px;
      }
    }
  }
}

.date-fields {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  .form-field {
    flex: 1;
    background-color: #d9ebff;
    padding: 10px;
    border-radius: 10px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    button {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 768px) {
  .date-fields {
    flex-direction: column;
  }

  .calendar-container {
    flex-direction: column;
    align-items: center;
  }

  .calendar-left,
  .calendar-right {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .calendar-container {
    padding: 5px;
  }

  .calendar-left,
  .calendar-right {
    max-width: 100%;
    padding: 15px;
  }

  form {
    margin-top: 10px;
  }
}

.custom-form {
  mat-form-field.form-field {
    appearance: outline;
    margin-bottom: 15px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      min-width: 75px;
    }
  }

  textarea {
    resize: none;
  }

  button.mat-icon-button {
    margin-left: 5px;
  }
}

.event-list {
  list-style: none;
  padding: 0;

  li {
    background-color: #d9ebff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d9ebff;
    }

    h3 {
      margin: 0 0 5px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  button {
    margin-top: 10px;
  }
}

.event-list-of-day {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 600px;

  .event-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .sub-title {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .event-list-scroll {
    overflow-y: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 4px;
  }
}

.event-card {
  background: #d9ebff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px #0001;
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

::ng-deep .calendar-has-event .mat-calendar-body-cell-content {
  background: #3935a7;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

::ng-deep .calendar-has-event:hover .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.calendar-has-event:hover .mat-calendar-body-cell-content {
  background: #28226d !important;
  color: #fff;
}

::ng-deep .mat-calendar-body-label {
  opacity : 0; 
}