// Variables partager
$color1 : #3935A7;
$color2 : #A1BCFF;
$color3 : #4641BD;

$hover-color2: #d3e0ff;
$hover-color3: #26237a;

$white : #FFFFFF;
$blue: #007AFF;
$light-blue: #007bff15;

// Éléments partager
.title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: $white;
}

.sub-title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: $blue;
}