// Variables partager
$color1 : #3935A7;
$color2 : #A1BCFF;
$color3 : #4641BD;

$hover-color2: #d3e0ff;
$hover-color3: #26237a;

$white : #FFFFFF;
$blue: #007AFF;
$light-blue: #007bff15;

$showcase-title-color: #121417;
$showcase-text-color: #637587;

// Éléments partager

.app-content{
    width: 95%;
}
.title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: $white;
}

.sub-title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: $blue;
}

.loading{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: $color3;
}

// Vue client

.showcase-title{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: $showcase-title-color;
}

.showcase-title-32{
    font-size: 32px;
}

.showcase-title-22{
    font-size: 22px;
}

.showcase-title-18{
    font-size: 18px;
}

.showcase-icon{
    width: 24px;
    height: 20px;
    color: #000000;
}