<header class="customer-header">
    <h1 class="showcase-title showcase-title-18">Le village des brocanteurs</h1>
    <div class="showcase-icons">
        <div class="showcase-background-icon"><a href="recherche">
            <span class="iconify showcase-icon" data-icon="line-md:search" data-inline="true"></span>
        </a></div>
        <div class="showcase-background-icon"><a href="/contact">
            <span class="iconify showcase-icon" data-icon="material-symbols:mail-outline-rounded" data-inline="true"></span>
        </a></div> 
    </div>
</header>
