<div class="app-content">
    <div class="customers-main">
      <div class="left-view" [class.pushed]="showCreateForm || showViewForm">
        <div class="customers-menu">
        <h2 class="sub-title">Outils</h2>
          <div class="actions">
            <button title="Ajouter un utilisateur" (click)="openCreateForm()">
              <span class="iconify" data-icon="iconoir:user-plus" data-inline="true"></span>
            </button>
            <button title="Télécharger la liste des utilisateurs au format CSV">
              <span class="iconify" data-icon="radix-icons:download" data-inline="true"></span>
            </button>
            <button title="Importer un/des utilisateur(s) dans un fichier CSV">
              <span class="iconify" data-icon="tabler:file-plus" data-inline="true"></span>
            </button>
        </div>
      </div>
        <div class="customers-list">
          <h2 class="sub-title">Liste des clients</h2>
          <div *ngIf="loading" class="loading">Chargement...</div>
          <table *ngIf="!loading && customers.length > 0" class="customer-table">
            <tbody>
              <tr *ngFor="let customer of customers">
                <td colspan="2" class="row-cell">
                  <div class="row-bg">
                    <div class="identity-cell">
                      <span class="avatar">
                        {{ customer.name ? customer.name[0] : '' }}{{ customer.surname ? customer.surname[0] : '' }}
                      </span>
                      <span class="fullname">
                        {{ (customer.name + ' ' + customer.surname).length > 14 ? (customer.name + ' ' + customer.surname | slice:0:14) + '...' : customer.name + ' ' + customer.surname }}
                      </span>
                    </div>
                    <div class="actions-cell">
                      <div class="actions">
                        <button title="Voir" (click)="viewCustomer(customer)">
                          <span class="iconify" data-icon="simple-line-icons:eye" data-inline="true"></span>
                        </button>
                        <button title="Appeler" *ngIf="!showCreateForm && !showViewForm">
                          <span class="iconify" data-icon="line-md:phone-call-loop" data-inline="true"></span>
                        </button>
                        <button title="Pièce jointe">
                          <span class="iconify" data-icon="prime:paperclip" data-inline="true"></span>
                        </button>
                        <button title="Email" *ngIf="!showCreateForm && !showViewForm">
                          <span class="iconify" data-icon="pepicons-pencil:letter" data-inline="true"></span>
                        </button>
                        <button title="Éditer" (click)="openEditForm(customer)">
                          <span class="iconify" data-icon="weui:pencil-filled" data-inline="true"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!loading && customers.length === 0" class="txt-for-empty">Aucun client trouvé.</div>
        </div>
    </div>

    <!-- formulaire pour créer/modif -->
    <div class="create-customer-form" *ngIf="showCreateForm">
      <h2 class="sub-title">
        {{ editMode ? 'Modifier' : 'Créer' }}
        <ng-container *ngIf="createForm.name && createForm.surname; else defaultTitle">
          <span class="client-name">
            {{ (createForm.name + ' ' + createForm.surname).length > 14 ? (createForm.name + ' ' + createForm.surname | slice:0:14) + '...' : createForm.name + ' ' + createForm.surname }}
          </span>
        </ng-container>
        <ng-template #defaultTitle> un client</ng-template>
      </h2>
      <form (ngSubmit)="submitForm()" #f="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="createForm.name" name="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="createForm.surname" name="surname" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Adresse</mat-label>
          <input matInput [(ngModel)]="createForm.adress" name="adress" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ville</mat-label>
          <input matInput [(ngModel)]="createForm.city" name="city" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Code Postal</mat-label>
          <input matInput [(ngModel)]="createForm.postal_code" name="postal_code" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Entreprise</mat-label>
          <input matInput [(ngModel)]="createForm.company" name="company" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Numéro de téléphone</mat-label>
          <input matInput [(ngModel)]="createForm.phone" name="phone" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Adresse mail</mat-label>
          <input matInput type="email" [(ngModel)]="createForm.email" name="email" />
        </mat-form-field>
        <div class="form-actions">
          <button mat-stroked-button color="warn" type="button" class="cancel" (click)="closeCreateForm()">Annuler</button>
          <button
            mat-flat-button
            type="submit"
            class="create"
            [ngStyle]="editMode ? {'background-color': '#007AFF', 'color': '#fff'} : {}"
            [disabled]="f.invalid">
            {{ editMode ? 'Modifier' : 'Créer' }}
          </button>
        </div>
      </form>
    </div>

    <!-- visu -->
    <div class="view-customer-form" *ngIf="showViewForm">
      <div class="top-view">
              <h2 class="sub-title">
        Détails
        <ng-container *ngIf="viewCustomerData?.name && viewCustomerData?.surname; else defaultViewTitle">
          <span class="client-name"> {{ viewCustomerData?.name }} {{ viewCustomerData?.surname }} </span>
        </ng-container>
        <ng-template #defaultViewTitle> d'un client</ng-template>
      </h2>
        <div class="view-actions">
          <button class="btn-small" title="Fermer le détail de {{ viewCustomerData?.name }} {{ viewCustomerData?.surname }}" (click)="closeViewForm()">Fermer</button>
          <button class="btn-small" title="Éditer {{ viewCustomerData?.name }} {{ viewCustomerData?.surname }}" (click)="viewCustomerData && openEditForm(viewCustomerData)">Éditer</button>  
          <button class="btn-small" title="Supprimer {{ viewCustomerData?.name }} {{ viewCustomerData?.surname }}" (click)="askDeleteCustomer(viewCustomerData)">Supprimer</button>
        </div>
      </div>

      <mat-tab-group color="primary" animationDuration="1000ms" fitInkBarToContent>
        <mat-tab label="Informations">
            <form>
              <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput [value]="viewCustomerData?.name" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput [value]="viewCustomerData?.surname" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput [value]="viewCustomerData?.adress" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Ville</mat-label>
                <input matInput [value]="viewCustomerData?.city" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Code Postal</mat-label>
                <input matInput [value]="viewCustomerData?.postal_code" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Entreprise</mat-label>
                <input matInput [value]="viewCustomerData?.company" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Numéro de téléphone</mat-label>
                <input matInput [value]="viewCustomerData?.phone" disabled />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Adresse mail</mat-label>
                <input matInput type="email" [value]="viewCustomerData?.email" disabled />
              </mat-form-field>
            </form>
          </mat-tab>
          <mat-tab label="Facture">
          <div class="invoice-toolbar">
            <div class="search-bar">
              <input type="text" [(ngModel)]="invoiceSearch" (ngModelChange)="filterInvoices()" placeholder="Rechercher par numéro de facture" />
              <span class="iconify" data-icon="material-symbols:search" data-inline="true"></span>
            </div>
            <div class="invoice-toolbar-actions">
              <button mat-icon-button title="Télécharger la liste des factures">
                <span class="iconify" data-icon="lucide:share" data-inline="true"></span>
              </button>
              <button mat-icon-button title="Ajouter une facture">
                <span class="iconify" data-icon="mage:printer" data-inline="true"></span>
              </button>
              <button mat-icon-button title="Importer des factures">
                <span class="iconify" data-icon="tabler:file-plus" data-inline="true"></span>
              </button>
            </div>
          </div>

          <div *ngIf="filteredInvoices.length === 0">
            <span>Aucune facture trouvée pour ce client.</span>
          </div>

          <div *ngIf="filteredInvoices.length > 0" class="invoice-list">
            <div *ngFor="let invoice of filteredInvoices" class="invoice-row">
              <span class="invoice-ref">Facture#{{ invoice.id }}</span>
              <div class="invoice-actions">
                <button title="Voir">
                  <span class="iconify" data-icon="simple-line-icons:eye" data-inline="true"></span>
                </button>
                <input type="checkbox" title="Sélectionner cette facture"/>
              </div>
            </div>
          </div>
        </mat-tab>
          <mat-tab label="Devis">
          </mat-tab>
          <mat-tab label="Achats">
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <app-confirm-popup
  [show]="showConfirm"
  [title]="confirmTitle"
  [message]="confirmMessage"
  (confirm)="onConfirmPopup()"
  (cancel)="onCancelPopup()"
></app-confirm-popup>
</div>