@use '../../styles/shared' as *;


.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    app-menu {
        width: 200px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        background-color: $white;
      }
      
      .dashboard-content {
        flex: 1;
        padding: 1rem 1rem 8rem 7rem;
        background-color: $color2;

        .dashboard-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            margin: 0;
          }

          .user-menu-wrapper {
            position: static;
            top: 0;
            right: 0;
          }
        }
      }
  }
  

  