<footer class="showcase-footer-customer">
    <div class="link-footer-customer">
        <a href="/galerie/a-propos">À propos</a>
        <a href="/galerie/produits">Notre galerie</a>
        <a href="/galerie/contact">Nous contacter</a>
    </div>
    <div><a href="https://www.instagram.com/village.des.brocanteurs.27/?hl=fr"><span class="iconify showcase-icon" data-icon="line-md:instagram" data-inline="true"></span></a></div>
    <div>
        <p>2025 Le village des brocanteurs. Tous droits réservés.</p>
    </div>
</footer>
